.root {
	-fx-background-color: #00ff00; }
	
	.button {
		-fx-border-color: #ff0000; 
		-fx-border-width: 5px;
	}
	
	.label {
		-fx-text-fill:  #ff0000;
		-fx-font-weight: bold;
		-fx-font-size: 20px;
		-fx-font-family: "Comic Sans MS";
	}
	
	#single  {
		-fx-text-fill: #0000ff;
		-fx-font-weight: bold;
		
	}